{% extends 'base.html' %}

{% block title %}{{ title }}{% endblock %}

{% block style %}
<style>
    .container {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 30px;
    }

    .card {
        width: 300px;
        background-color: white;
        border-radius: 20px;
        overflow: hidden;

        display: flex;
        flex-direction: column;
    }

    .card-img {
        width: 100%;
        height: 300px;
        object-fit: cover;
        background-color: darkgray;

        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
    }

    .product-img {
        width: 100%;
        height: 100%;
    }
    
    .placeholder-img {
        width: 100%;
        height: auto;
        padding: 10%;
    }

    .card-body {
        padding: 20px 15px;
        flex-grow: 1;
        display: flex;
        flex-direction: column;
    }

    .card-title {
        margin-bottom: 10px;
        font-size: 20px;
        
    }

    .card-title a {
        color: black;
    }

    .card-description {
        height: 40px;
        margin-bottom: 15px;

        font-size: 16px;
        color: dimgray;
        word-break: break-all;
        overflow: hidden;
    }

    .price-container {
        display: flex;
        align-items: baseline;
        flex-wrap: wrap;
        gap: 10px;
    }

    .old-price {
        font-size: 16px;
        color: red;
        text-decoration: line-through;
    }

    .new-price {
        font-size: 22px;
        font-weight: bold;
    }

    .unit {
        font-size: 14px;
        color: gray;
        margin-left: 5px;
    }

    .stock {
        color: green;
        margin-top: 8px;

        display: flex;
        align-items: center;
        gap: 5px;
    }

    .stock.out {
        color: gray;
    }

    .search-panel {
        padding: 15px;
        margin-bottom: 20px;
    }

    .search-panel form {
        display: flex;
        align-items: center;
        gap: 10px;
    }

    .search-panel form select {
        height: min-content;
        width: fit-content;
    }

    .manage-product {
        margin-top: 10px;
        display: flex;
        gap: 10px;
    }
</style>
{% endblock %}

{% block content %}
{% if is_manager or is_admin %}
<div class="search-panel">
    <form method="get" action="{% url 'products' %}">
        <input
            type="text"
            name="search_query"
            placeholder="Поиск..."
            value="{{ search_query|default:'' }}"
            autofocus
            onfocus="this.selectionStart = this.value.length" 
            oninput="this.form.submit()"
        />
        <select name="selected_provider_id" onchange="this.form.submit()">
            <option value="" {% if not selected_provider_id %}selected{% endif %}>Все поставщики</option>
            {% for provider in providers %}
            <option value="{{ provider.id }}" {% if selected_provider_id|add:"0" == provider.id|add:"0" %}selected{% endif %}>{{ provider.name }}</option>
            {% endfor %}
        </select>
        <select name="output_order" onchange="this.form.submit()">
            <option value="" {% if not output_order %}selected{% endif %}>По умолчанию</option>
            <option value="price" {% if output_order == 'price' %}selected{% endif %}>Дешевле</option>
            <option value="-price" {% if output_order == '-price' %}selected{% endif %}>Дороже</option>
            <option value="stock" {% if output_order == 'stock' %}selected{% endif %}>Меньше</option>
            <option value="-stock" {% if output_order == '-stock' %}selected{% endif %}>Больше</option>
        </select>
    </form>
</div>
{% endif %}
<div class="container">

    {% for product in products %}
    <div class="card">
        <div class="card-img" onclick="location.href='/product/{{ product.id }}/edit'">
            <img
                src="/media/{{ product.photo|default:'picture.png' }}"
                alt="{{ product.type.name }}"
                class="{% if product.photo %}product{% else %}placeholder{% endif %}-img"
            />
        </div>

        <div class="card-body">
            <h5 class="card-title"><a href="{% url 'product_edit' product.id %}">{{ product.type.name }} {{ product.article }}</a></h5>
            <p class="card-description">{{ product.description|truncatechars:80 }}</p>

            <div class="price-container">
                <span class="old-price">{{ product.price }} ₽</span>
                <span class="new-price">{{ product.discounted_price }} ₽</span>
                <span class="unit">/ {{ product.unit.name }}</span>
            </div>

            <div class="stock {% if product.stock == 0 %}out{% endif %}">
                {% if product.stock == 0 %}
                    Нет в наличии
                {% else %}
                    В наличии: {{ product.stock }} {{ product.unit.name }}
                {% endif %}
            </div>

            {% if is_admin %}
                <div class="manage-product">
                    <button class="btn btn-delete"><a href="{% url 'product_delete' product.id %}" onclick="return confirm('Удалить?')">Удалить</a></button>
                </div>
            {% endif %}
        </div>
    </div>
    {% empty %}
    <p class="empty-massage">Товары не найдены</p>
    {% endfor %}

    {% if is_admin %}
    <button class="btn add-btn"><a href="{% url 'product_add' %}">+ Добавить товар</a></button>
    {% endif %}
</div>
{% endblock %}
