{% extends 'base.html' %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
<div class="form-container">
    <form method="post" enctype="multipart/form-data" class="form">
        {% csrf_token %}

        <h2 class="form-title">Вход в систему</h2>

        {{ form }}
    
        <button type="submit" class="btn submit-btn">Войти</button>

        <div class="redirect-message">
            <a href="{% url 'signup' %}">Создать аккаунт</a>
        </div>
    </form>
</div>
{% endblock %}