{% extends 'base.html' %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
<div class="container">
    {% for order in orders %}
    <div
        class="card"
        data-edit-url="{% url 'order_edit' order.id %}"
        onclick="redirectToEdit(this)"
    >

        <div class="card-body">
            <h5 class="card-title">
                {% for item in order.products_in_order.all %}
                    {{ item.product.article }}, {{ item.amount }};
                {% endfor %}
            </h5>
            <div class="card-description">
                <p>Статус: {{ order.status.name }}</p>
                <p>Адрес пункта выдачи: {{ order.pickup_point_address }}</p>
                <p>Дата заказа: {{ order.created_at|date:"d.m.y" }}</p>
            </div>

            {% if is_admin %}
                <div class="manage-order">
                    <a
                        class="btn btn-delete"
                        href="{% url 'order_delete' order.id %}"
                        onclick="confirmDelete(event)"
                        style="width: fit-content;"
                    >Удалить</a>
                </div>
            {% endif %}
        </div>


        <div class="card-delivery">
            <div class="delivery-date">Доставлено: {{ order.delivered_at|date:"d.m.y" }}</div>
        </div>
    </div>

    {% empty %}
        <div class="empty-message">
            <h3>Заказов не найдено</h3>
        </div>
    {% endfor %}

    {% if is_admin %}
    <a href="{% url 'order_add' %}" class="btn add-btn">+ Добавить заказ</a>
    {% endif %}
</div>
{% endblock %}